<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <title>LAB THẦY SINH</title>
</head>
<body>
    <div class="heading">
        <div onclick="showMenu();" class="menu heading-item">
            <i class="fa-solid fa-bars"></i>
            <ul onmouseleave="outMenu();" class="navbar-list ">
                <li class="navbar-item">
                    <a class="powerteam-list" href="#">
                        Các Power Team <i style="padding-left: 1vw;" class="fa-solid fa-angle-right"></i>
                    </a>
                    </a>
                    <ul class="powerteams">
                        <li class="powerteam">
                            <a href="">
                                PT Lập Trình
                            </a>
                        </li>
                        <li class="powerteam">
                            <a href="">
                                PT Cơ Khí - Cơ điện tử
                            </a>
                        </li>
                        <li class="powerteam">
                            <a href="">
                                PT Tự Động Hóa & IOM
                            </a>
                        </li>
                        <li class="powerteam">
                            <a href="">
                                PT Ngoại Ngữ
                            </a>
                        </li>
                        <li class="powerteam">
                            <a href="">
                                PT QTDN và Marketing
                            </a>
                        </li>
                        <li class="powerteam">
                            <a href="">
                                PT Phát triển bản thân
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <a href="Home#introduce">
            <div style="margin-left: 30px;" class="heading-item">Trang chủ</div>
        </a>
        <a href="Home#rule-list">
            <div class="heading-item">Quy tắc ứng xử</div>
        </a>
        <a href="Home#coreValues">
            <div class="heading-item">Giá trị cốt lõi</div>
        </a>
        <a href="Home#work">
            <div class="heading-item">Các hoạt động</div>
        </a>
        <a href="#footer">
            <div class="heading-item">Liên hệ</div>
        </a>
        <div class="user">
            <i class="fa-solid fa-user"></i>
            <ul class="user-info">
                <li class="user-info-item">
                    <a asp-controller="Login">
                        Đăng nhập
                    </a>
                </li>
            </ul>
        </div>
    </div>

    @RenderBody()

    <div id="footer">

        <div class="info">
            <div class="img-logo">
                <img src="./img/logo.jpg" alt="">
                <p class="footer-text">Lab thầy Sinh</p>
            </div>
            <ul class="info-list">
                <li class="info-item">
                    <i class="fa-solid fa-phone"></i>
                    <p>035 633 0299</p>
                </li>
                <li class="info-item">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <p>labthaysinhtechmater@gmail.com</p>
                </li>
            </ul>
        </div>

        <div class="info">
            <p class="footer-text">Các mạng xã hội của Lab</p>
            <ul class="info-list">
                <li class="info-item">
                    <i style="color:#ff0000" class="fa-brands fa-youtube"></i>
                    <p>
                        <a href="">Youtube</a>
                    </p>
                </li>
                <li class="info-item">
                    <i style="color:#097eeb" class="fa-brands fa-facebook"></i>
                    <p>
                        <a href="">Facebook</a>
                    </p>
                </li>
                <li class="info-item">
                    <i class="fa-brands fa-tiktok"></i>
                    <p>
                        <a href="">Tiktok</a>
                    </p>
                </li>
                <li class="info-item">
                    <i style="color:#c94571" class="fa-brands fa-instagram-square"></i>
                    <p>
                        <a href="">Instagram</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <script src="./js/slideShow.js"></script>
    <script src="./js/onClickMenu.js"></script>


</body>
</html>