@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    @section Buttons{
        <a href="#introduce">
            <div style="margin-left: 30px;" class="heading-item">Trang chủ</div>
        </a>
        <a href="#rule-list">
            <div class="heading-item">Quy tắc ứng xử</div>
        </a>
        <a href="#coreValues">
            <div class="heading-item">Giá trị cốt lõi</div>
        </a>
        <a href="#work">
            <div class="heading-item">Các hoạt động</div>
        </a>
        <a href="#footer">
            <div class="heading-item">Liên hệ</div>
        </a>
    }

    @section Login{
        <li class="user-info-item">
              <a asp-controller="Login">Đăng nhập</a>
        </li>    
    }
}

