@{
    ViewData["Title"] = "Home Page";

    @section Buttons{
        <a href="#introduce">
            <div style="margin-left: 30px;" class="heading-item">Trang chủ</div>
        </a>
        <a href="#rule-list">
            <div class="heading-item">Quy tắc ứng xử</div>
        </a>
        <a href="#coreValues">
            <div class="heading-item">Giá trị cốt lõi</div>
        </a>
        <a href="#work">
            <div class="heading-item">Các hoạt động</div>
        </a>
        <a href="#footer">
            <div class="heading-item">Liên hệ</div>
        </a>
    }

    @section Login{
        <li class="user-info-item">
                <a asp-controller="Login">Đăng nhập</a>
        </li>
        
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/index.css">
    <title>Đăng nhập Lab thầy Sinh</title>
</head>
<body>


    <video class="video-introduce" controls autoplay loop muted>
        <source src="./img/video- giới thiệu.mp4">
    </video>
    <div id="introduce">
        <ul class="introduce-list">
            <li class="introduce-item">Giới thiệu về LAB Thầy Sinh:  do thầy Hoàng Vĩnh Sinh sáng lập, đã hoạt động được 2 năm, tầm nhìn, sứ mệnh của LAB </li>
            <li class="introduce-item">LAB Thầy Sinh thành lập với sứ mệnh tạo ra môi trường để sinh viên phát triển bản thân, kết nối lý thuyết và thực hành dựa trên trí thông minh cảm xúc.</li>
            <li class="introduce-item">LAB Thầy Sinh do PGS.TS Hoàng Vĩnh Sinh – giảng viên bộ môn gia công vật liệu và DCCN Trường Cơ khí sáng lập đến nay đã hoạt động được gần 2 năm với 5 thế hệ sinh viên. LAB hoạt động với sứ mệnh tạo nên môi trường thực hành tích cực để các thành viên có thể phát huy tốt nhất năng lực chuyên môn và năng lực Leadership thông qua việc Phát triển bản thân.</li>
            <li class="introduce-item">TẦM NHÌN  đến năm 2025, LAB Thầy Sinh trở thanh nơi ươm mầm và là nhà đầu tư có tiềm lực, tin cậy cho các Startup và các doanh nghiệp. </li>
        </ul>
        <img class="introduce-img" src="./img/logo-trắng.jpg" alt="">
    </div>

    <!-- Quy tắc ứng xử -->
    <ul id="rule-list">
        <p class="title"> [LAB THẦY SINH - QUY TẮC ỨNG XỬ]</p>
        <li class="rule-item">1. Người sáng lập: PGS.TS Hoàng Vĩnh Sinh.</li>
        <li class="rule-item">2. Tuân thủ: Sẵn sàng ủng hộ mục tiêu, thực hiện các quy tắc và các quyết định chung.</li>
        <li class="rule-item">3. Làm chủ: Chịu trách nhiệm với mọi hành động, kết quả, công việc và nhiệm vụ được giao.</li>
        <li class="rule-item">4. Cam kết: thực hiện đúng, đủ, đều các kế hoạch, hành động và quy tắc ứng xử của LAB.</li>
        <li class="rule-item">5. Hỗ trợ: Chia sẻ không điều kiện cho các thành viên khác trong LAB.</li>
        <li class="rule-item">6. Chính trực: Luôn nói sự thật, làm những gì đã hứa, chịu trách nhiệm cá nhân, không đổ thừa, không bào chữa, không chỉ trích.</li>
        <li class="rule-item">7. Làm việc nhóm: Có tinh thần chiến thắng và cho phép những người khác chiến thắng, không bao giờ bỏ rơi đồng đội.</li>
        <li class="rule-item">8. Biết ơn: Nói cảm ơn và luôn thể hiện lòng biết ơn theo nhiều cách với đồng đội, ăn mừng chiến thắng mỗi khi đạt mục tiêu.</li>
        <li class="rule-item">9. Giao tiếp: Giao tiếp tích cực với các thành viên trong LAB, nhận và xin lỗi khi sai. Lắng nghe một cách chân thành, góp ý theo các tích cực trong hoạt động của LAB.</li>
        <li class="rule-item">10. Sự cho đi: Dành thời gian, kiến thức và sức lực để tạo lập các mối quan hệ với đồng đội.</li>
        <li class="rule-item">
            11. Bản quyền và bảo mật: Giữ bảo mật cho tất cả mọi thông tin, văn bản, thiết kế, sản phẩm, quy trình,... đều thuộc bản quyền của LAB thầy Sinh.
            Quy tắc ứng xử cùng giá trị cốt lõi của LAB Thầy Sinh luôn là kim chỉ nam trong mọi hành động của mọi thành viên cũng như của LAB.
        </li>
    </ul>
    <!-- giá trị cốt lõi -->
    <div id="coreValues">
        <p class="title"> GIÁ TRỊ CỐT LÕI- LAB THẦY SINH</p>

        <div class="coreValues">
            <div class="value">
                <p>LÀM VIỆC NHÓM</p>
                <img src="./img/teamwork.jpg" alt="" class="img-width_340px">
            </div>
            <div class="value">
                <p>GIAO TIẾP</p>
                <img src="./img/giao tiếp.jpg" alt="" class="img-width_340px">
            </div>
            <div class="value">
                <p>CAM KẾT</p>
                <img src="./img/cam kết.jpg" alt="" class="img-width_340px">
            </div>
            <div class="value">
                <p>LÀM CHỦ</p>
                <img src="./img/làm chủ.jpg" alt="" class="img-width_340px">
            </div>
            <div class="value">
                <p>BIẾT ƠN</p>
                <img src="./img/biết ơn.jpg" alt="" class="img-width_340px">
            </div>
        </div>
    </div>

    <div id="work">
        <p class="title">CÁC HOẠT ĐỘNG CỦA LAB</p>
        <div class="work-list">
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides ">
                    <div class="numbertext">1 / 5</div>
                    <img src="./img/chuyên môn 1.jpg" style="width:100%">
                    <!-- <div class="text">Caption Text</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">2 / 5</div>
                    <img src="./img/chuyên môn 2.jpg" style="width:100%">
                    <!-- <div class="text">Caption Two</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">3 / 3</div>
                    <img src="./img/chuyên môn 3.jpg" style="width:100%">
                    <!-- <div class="text">Caption Three</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">4 / 5</div>
                    <img src="./img/chuyên môn 4.jpg" style="width:100%">
                    <!-- <div class="text">text 4</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/chuyên môn 5.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/ngoại khóa 1.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/ngoại khóa 2.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/ngoại khóa 3.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/ngoại khóa 4.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/ngoại khóa 5.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <div class="mySlides ">
                    <div class="numbertext">5 / 5</div>
                    <img src="./img/ngoại khóa 1.jpg" style="width:100%">
                    <!-- <div class="text">text 5</div> -->
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>

        </div>
    </div>


</body>
</html>