@model Notification
@{
    @section Buttons{
        <a asp-action="Index" header-item">Trang chủ</a>
    }


    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home">Đăng xuất</a>
        </li>
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/nhanSu&DuAn.css">
    <link rel="stylesheet" href="~/css/quyTrinh.css">
    <link rel="stylesheet" href="~/css/themDuAn.css">
</head>
<body>
    <div class="wrap-back" style="display:flex;">
        <a asp-action="Index"><h2 class="backMainPage"> Trang Chủ</h2></a>
        <p>/</p>
        <a><h2 style="padding-left: 10px;" class="backMainPage"> Thông báo</h2></a>
        <p>/</p>
        <a><h2 style="padding-left: 10px;" class="backMainPage">@Model.Title</h2></a>
    </div>

    <div style="width: 1030px;margin: auto;text-align: right;">
        <h3 style="text-align: center;"> @Model.Title</h3>
    </div>
    <div class="wrap-themDuAn" style="line-height: 50px;">
        <label for="">
            Ngày Đăng: @Model.Date

        </label>

        <div>
            <label for="">
                Nội Dung: @Model.Content
            </label>
        </div>
        <div>
            <label style="width: 1030px;;" for="">
            </label>
        </div>
    </div>

</body>
</html>