@model ItemDetail<Notification>

@{
    Layout = "~/Views/Shared/Layout/Notifications/_Layout_NotificationDetail.cshtml";
}
        })
        $('#input-link').focusout(function () {
            document.getElementById("text-link").style.display = 'block';
            document.getElementById("input-link").style.display = 'none';
        })

    </script>
</body>