@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    @section Buttons{
        <a href="#introduce">
            <div style="margin-left: 30px;" class="heading-item">Trang chủ</div>
        </a>
        <a asp-action="Member">
            <div class="heading-item">Thông tin thành viên</div>
        </a>
        <a asp-action="Procedure">
            <div class="heading-item">Quy trình</div>
        </a>
    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home">Đăng xuất</a>
        </li>
    }
}
