@{
    @section Buttons{
        <a class="header-item"></a>
        <a asp-action="Member" class="header-item">Thông tin thành viên</a>
        <a asp-action="Index" class="header-item">Trang chủ</a>
    }

    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/procedure.css">
</head>
<body>
    <div class="procedure_container">
        <div class="procedure_form">
            <form action="" method="post">
                <div class="procedure_name">
                    <p>Tên quy trình: </p>
                </div>
                <div class="procedure_date">
                    <p>Ngày:</p>
                </div>

                <div class="procedure_content">
                    <p>Nội dung</p>
                </div>
                <div class="procedure_button">
                    <button type="submit">Gửi duyệt quy trình</button>
                </div>
            </form>
        </div>
    </div>

    <div class="procedure_container">
        <div class="procedure_form">
            <form action="" method="post">
                <div class="procedure_name">
                    <p>Tên quy trình: </p>
                </div>
                <div class="procedure_date">
                    <p>Ngày:</p>
                </div>
                <div class="procedure_content">
                    <p>Nội dung</p>
                </div>
                <div class="procedure_button checked">
                    <button type="submit">Đã duyệt</button>
                </div>
            </form>
        </div>
    </div>
</body>

