body {
    background-size: cover;
    background-position-y: -80px;
    font-size: 16px;
}

.form-frame {
    display: flex;
    border-radius: 24px !important;
    background: rgba(255, 255, 255, 1) !important;
    flex-grow: 1;
    font-size: 22px;
    line-height: 30px;
    color: #edcd1f;
    padding: 30px 30px 40px;
}

.form-group {
    margin-top: 8px;
}

    .form-group i {
        color: #fff;
        font-size: 14px;
        padding-top: 5px;
        padding-right: 10px;
    }

.form-input {
    border: 0;
    outline: 0;
    color: #000;
    flex-grow: 1;
    height: 30px;
    border: 1px #000 solid;
}

    .form-input::placeholder {
        color: #333;
    }


input.no-autofill-bgk:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
    -webkit-box-shadow: rgba(23, 43, 49, 1) 10px 30px inset !important;
}

input .no-autofill-bgk [data-autocompleted] {
    background-color: transparent !important;
}

@-webkit-keyframes autofill {
    0%,100% {
        color: #fff;
        background: transparent;
    }
}

.nutan{
    height: 52px;
    width: 132px;
    background-color: #edcd1f;
    border-radius: 12px;
}
    .nutan:hover {
        background-color: rgb(243, 84, 116) !important;
        color: white !important;
        cursor: pointer;
    }

.form-control{
    height: 30px;
}

