
@{
    @section Buttons{
        <a class="header-item"></a>
        <a class="header-item"></a>
        <a asp-action="Training" class="header-item">Các bài đào tạo</a>
        <a asp-action="Index" class="header-item">Trang chủ</a>
    }


    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/resume.css">
</head>

<body>

    <div class="cv_body">
        <div class="container">
            <div class="profile">
                <div class="profile_container">
                    <div class="profile_profileImg">
                        <img src="~/img/avt.png" alt="NgoXuanHinh" class="cv_img">
                    </div>
                    <div>
                        <form asp-controller="Login" method="post" id="form-login">
                            <h1 class="form-heading">Sửa thông tin cá nhân</h1>
                            <h1 class="profile_name">
                                <span class="profile_name_firstName">ID: 60</span>
                            </h1>
                            <div class="form-group">
                                <i class="far fa-user" style="font-family:Arial">Họ và tên :</i>
                                <input name="UserName" type="text" class="form-input no-autofill-bgk" placeholder="Họ và tên" autofocus>
                            </div>
                            <div class="form-group">
                                <i class="far fa-user" style="font-family:Arial">Ngày sinh :</i>
                                <input name="UserName" type="text" class="form-input no-autofill-bgk" placeholder="Ngày sinh" autofocus>
                            </div>
                            <div class="form-group">
                                <i class="far fa-user" style="font-family:Arial">Giới tính :</i>
                                <input name="UserName" type="text" class="form-input no-autofill-bgk" placeholder="Giới tính" autofocus>
                            </div>
                            <div class="form-group">
                                <i class="far fa-user" style="font-family:Arial">Thành tích:</i>
                                <input name="UserName" type="text" class="form-input no-autofill-bgk" placeholder="Thành tích" autofocus>
                            </div>
                            <div class="form-group">
                                <i class="far fa-user" style="font-family:Arial">Sở thích  :</i>
                                <input name="UserName" type="text" class="form-input no-autofill-bgk" placeholder="Sở thích" autofocus>
                            </div>
                            <input class="form-submit" type="submit" style="margin-top: 15px;" value="Sửa thông tn">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>