@{
    @section Buttons{
        <a asp-action="Index">
            <div class="heading-item">Trang chủ</div>
        </a>
        <a asp-action="Training">
            <div class="heading-item">Các bài đào tạo</div>
        </a>
    }


    @section Login{
        <li class="user-info-item">
            <a asp-controller="Login" asp-action="ChangetoChangePassword">Đổi mật khẩu</a>
        </li>
        <li class="user-info-item">
            <a asp-controller="Home" asp-action="Index">Đăng xuất</a>
        </li>
    }
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet"
          href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/index.css">
    <title>Chỉnh sửa thông tin cá nhân</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10"
                 style="padding: 40px; padding-right: 0px; border-radius: 5px; border: rgba(0, 0, 0, 0.089) 2px solid; height: 1300px; margin-top: 160px;margin-bottom: 50px;;">
                <h4>Thông tin cá nhân</h4>
                <form>
                    <div class="form-group" style="margin-left:30px; margin-top:50px; line-height: 35px;">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-5 col-sm-5">
                                        <label for="name">Họ và tên</label>
                                        <!--<input type="text" class="form-control" placeholder="Họ và tên" id="name"
                                        value="">-->
                                    </div>
                                    <div class="col-6 col-sm-6">
                                        <label for="" style="margin-left:40px;">Giới tính</label>
                                        <!--<div class="row" data-toggle="buttons" style="margin-left:20px;">
                                            <div class="col-3 col-sm-3">
                                                <label class="btn btn-outline-secondary">Nam
                                                    <input style="width:20px;" type="radio" id="boy" name="gioitinh"
                                                        value="">
                                                </label>
                                            </div>
                                            <div class="col col-sm-3"><label class="btn btn-outline-secondary">Nữ
                                                    <input style="width:30px;" type="radio" id="girl" name="gioitinh"
                                                        value="">
                                                </label></div>
                                        </div>-->
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-8 col-sm-8">
                                        <label for="myEmail">Email</label>
                                        <!--<input type="email" id="myEmail" class="form-control" placeholder="Email"
                                        style="width:348px;">-->
                                        <div class="row">
                                            <div class="col-3 col-sm-3">
                                                <label for="gen">Thế hệ</label>
                                                <!--<input type="text" id="gen" class="form-control" placeholder="Thế hệ"
                                                style="width:122px;">-->
                                            </div>
                                            <div class="col-3 colsm-3">
                                                <label for="id">Lab ID</label>
                                                <!--<input type="text" id="id" class="form-control" placeholder="ID"
                                                style="width:122px;">-->
                                            </div>
                                        </div>

                                        <div><label for="date">Ngày sinh</label></div>
                                        <!--<input type="date" id="date" class="form-control" style="width:328px;">-->
                                        <div><label for="phonenumber">Số điện thoại</label></div>
                                        <!--<input type="text" id="phonenumber" class="form-control"
                                        placeholder="Số điện thoại" style="width:328px;">-->
                                        <div><label for="chuyennganh">Ngành học</label></div>
                                        <!--<input type="text" id="chuyennganh" class="form-control"
                                        placeholder="Chuyên ngành" style="width:328px;">-->
                                        <div><label for="university">Trường học</label></div>
                                        <!--<input type="text" id="university" class="form-control" placeholder="Trường học"
                                        style="width:328px;">-->
                                        <div><label for="local">Địa chỉ thường trú</label></div>
                                        <!--<input type="text" id="local" class="form-control"
                                        placeholder="Địa chỉ thương trú" style="width:328px;">-->
                                        <div><label for="local">Nơi ở hiện tại </label></div>
                                        <div><label for="phonenumber">Chức vụ</label></div>
                                        <!--<input type="text" id="phonenumber" class="form-control" placeholder="Chức vụ"
                                        style="width:328px;">-->
                                        <div><label for="">PowerTeam</label></div>
                                        <div><label for="local">Các phần mền thành thạo</label></div>
                                        <div><label for="local">Các chứng chỉ hiện có</label></div>
                                        <h5>KẾT QUẢ HOẠT ĐỘNG</h5>
                                        <div><label for="local">Hoạt động phát triển bản thân</label></div>
                                        <div><label for="local">Kết quả các dự án đã tham gia</label></div>
                                        <div><label for="local">Dự án đang hoạt động</label></div>
                                        <div><label for="local">Các chức vụ đã trải qua</label></div>
                                        <div><label for="local">Số buổi tham gia họp</label></div>
                                        <div><label for="local">Số buổi vắng</label></div>
                                    </div>


                                    <div style="margin-left: -240px;" class="col-4">
                                        <img style="margin-top:200px;" src="" alt="Ảnh đại diện">
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </form>
                <div class="row" style="margin-left:20px; margin-top:50px;">
                    <div class="col-4 col-sm-4">
                        <p style="font-weight: 700;">Sửa thông tin cá nhân: </p>
                    </div>
                    <div class="">
                        <a asp-action="EditInfor">Sửa thông tin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/slideShow.js"></script>
    <script src="./js/onClickMenu.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <script src="jss.js"></script>

</body>
</html>